* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjusted to center */
    width: 640px;
    height: 640px;
    border: 1px solid black;
    position: fixed; /* Make the board the reference point for absolute positioning */
}

.square {
    height: 80px;
    width: 80px;
    border: 1px solid black;
}

.black {
    background: black;
}

.white {
    background: white;
}

.green {
    background: greenyellow;
}

.place-queen {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    position: fixed;
    top: 18.5%; /* Adjust this percentage to move the queen text up or down */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
}

.queen-text {
    font-family: fantasy;
    font-size:min(calc(12px + 0.75vw), 36px);
    white-space: nowrap;
    margin-top: -2.0%;
}

.iw_logo_div {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    position: absolute;
    top: -3.5%; /* Adjust to position above the board */
    left: 50%;
    transform: translateX(-50%);
}

.iwz_logo_image {
    width: 384px;
    height: 216px;
}

.numbers {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    height: 640px;
    width: 50px;
    left: -50px;
    font-size: 2rem;
    font-weight: bold;
    list-style: none;    
}

.letters {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 640px;
    left: 0px;
    bottom: -50px;
    font-size: 2rem;
    font-weight: bold;
    list-style: none;   
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    width: 40%; /* Make the button the same width as the board */
    font-size: 16px;
    cursor: pointer;
    background-color: #04AA6D;
    position: absolute;
    bottom: 0%; /* Adjust to position below the board */
    left: 50%;
    transform: translateX(-50%);
}

button:hover {
    background-color: #046843; /* Change to your desired color */
}
