* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 640px;
    height: 640px;
    border:1px solid black;
}

.square {
    height: 80px;
    width: 80px;
    border: 1px solid black;
}

.black {
    background: black;
}

.white {
    background: white;
}

.green {
    background: greenyellow;
}

.place-queen {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
}

.queen-text {
    font-family: fantasy;
    font-size: x-large;
    margin-top: -2.0%;
}

.iw_logo_div {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    margin-top: -2.5%;
}

.iwz_logo_image {
    width: 25%;
    height: 25%;
}

.numbers {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    height: 640px;
    width: 50px;
    left: -50px;
    font-size: 2rem;
    font-weight: bold;
    list-style: none;    
}

.letters {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 640px;
    left: 0px;
    bottom: -50px;
    font-size: 2rem;
    font-weight: bold;
    list-style: none;   
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    width: 640px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #04AA6D;
  }

  button:hover {
    background-color: #046843; /* change to your desired color */
  }
